{
    debug
    order caddy-host-query first #before reverse_proxy
}

:80 {
    handle {
        caddy-host-query {
            api_url http://localhost:5214/get-actual-host
            default_https_scheme true
            default_upstream localhost:5215            
        }
        @https {
            expression {http.vars.shard.upstream.is_port_443} == true
        }
        
        reverse_proxy @https {
            to {http.vars.shard.upstream}
            transport http {
                tls
            }
        }

        reverse_proxy {
            to {http.vars.shard.upstream}
        }
    }
}